.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 80%;
    height: 80%;
    border-radius: 12px;
    box-shadow: var(--box-shadow-hard);
    background-image: url("../../assets/northfolk-Ok76F6yW2iA-unsplash.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .login {
    background-color: #ecececfa;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: var(--box-shadow-hard);
    justify-content: center;
    gap: 2.2rem;
    margin-left: 4rem;

    h1 {
      font-size: 3.4rem;
      font-weight: 800;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .form {
      .box {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
      }
      .label {
        font-size: 1.8rem;
      }
      .input {
        border-bottom: 1px solid var(--gray-002);
        border-radius: 2px;
      }
    }
  }
}
