.filter {
  border-bottom: solid 1px var(--black-001);
  border-top: solid 1px var(--black-001);
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  background-color: var(--white-001);
}
