.navbar {
  display: flex;
  padding: 1.4rem 4rem;
  width: 100%;
  position: relative;

  justify-content: space-between;
  .right {
    display: flex;
    font-size: 1.8rem;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1;
      margin-left: 5rem;
    }

    .button {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .notification {
    position: relative;
    cursor: pointer;
    .icon {
      font-size: 2.4rem;
      fill: var(--gray-004);
    }

    .num {
      position: absolute;
      font-size: 1.3rem;
      top: -20%;
      right: 0;
      color: #c62222;
      font-weight: 700;
    }
  }
}
