.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  background-color: #fff;
  margin: 1rem;

  .subtitles {
    color: var(--gray-002);
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .fileList {
    align-self: flex-start;
    padding: 1rem;

    .addFile {
      font-size: 3.6rem;
      cursor: pointer;
    }
  }
}
